<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('partials/head', {title: 'Listado de productos' }) %>


	<body>

		<header>
			<%- include('partials/header') %>
		</header>
		<section class="banner">
			<div class=" first-gap">

				<div class="container">
					<h1 class="">
						Productos
					</h1>
				</div>

		</section>
		<section class="all-products container">
			
				<div class="flex">
					<% if(products.length == 0){%>
						<div>
							<h2 style="color:black; height: 30vh;">Producto no encontrado</h2>
						</div>
					<% }else{%>
					<% products.forEach( product=> { %>
						<a href="/product/<%= product.products_id %>">
							<div class="product-info">
								<div class="img-product-box">
									<img src="/uploads/<%= product.img %>" alt="">
								</div>
								<div class="prod-bg">
									<h3>
										<%= product.name %>
									</h3>
									<p>$<%= product.price %>
									</p>
									<% if (product.discount) {%>
										<span class="descuento"> 
											<%= product.discount %>% OFF
										</span>
										<% } %>
											<button class="button large-button">
												<a class="font-color-green"
													href="/product/<%= product.products_id %>">Personalizar</a>
											</button>
								</div>
							</div>
						</a>
						<% }) %>
						<% } %>
				</div>
			
		</section>

		<%-include("./partials/footer")%>

	</body>

</html>