<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('partials/head', {title: 'Listado de productos'}) %>

  <link href="/css/productDetail.css" rel="stylesheet">

<body>

<header>
    <%- include('partials/header') %>
</header>

    <div class="product">
        <% products.forEach( product=> { %>
				<section class="product-box">
					<a href="/product/<%= product.id %>">
						<figure class="product-box_image">
							<img src="/img/products/<%= product.imagen %>" alt="imagen de producto">
						</figure>
						<article class="product-box_data">
							<h2><%= product.precio %></h2>
							<% if (product.descuento) {%> 
							<span><%= product.descuento %>% OFF</span>
							<% } %>
							<p><%= product.nombre %></p>
						</article>
					</a>
				</section>
			</div>
	 <% })  %>


    </div>

    <%-include("./partials/footer")%>    
    
</body>
</html>