<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head', {title: 'Edita Tu Producto' }) %>
    <link href="/css/product_create.css" rel="stylesheet">

    <body>

        <header>
            <%- include('partials/header') %>
        </header>

<body>
    <section class="seccionform">
    <h2>Editar <i><%= productToEdit.nombre %></i> </h2>
    <form action="/product/<%= productToEdit.id %>?_method=PUT" method="POST">

        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" value="<%= productToEdit.nombre %>" id="nombre" placeholder="nombre">

        <label for="precio">Precio</label>
        <input type="number" name="precio"  value="<%= productToEdit.precio %>" id="precio" placeholder="precio">

<!-- Ver como dejar precargada la imagen para editar -->

        <label for="imagen">Imagen</label>
        <input type="file"  name="imagen"  id="imagen">

        <label for="descuento">Descuento</label>
        <input type="number" name="descuento"  value="<%= productToEdit.descuento %>" id="descuento" placeholder="% descuento">

        <button type="submit">Editar</button>
    </form>
    </section>
    <footer>
        <%-include("partials/footer")%>
    </footer>

</body>
</html>
