<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head', {title: 'Edita Tu Producto' }) %>
    

    <body>

        <header>
            <%- include('partials/header') %>
        </header>

<body>
    <main>
        <section class="banner">
            <div class=" first-gap">

            <div class="container">
                <h1 class="">
                    Editor
                </h1>


            </div>

        </section>
        <section class="margin-form-start">
            <div class="container">
                <div class="form-contact">
                    <form action="/product/<%= productToEdit.id %>?_method=PUT" method="POST">
                        <div class="label-flex section-form">
                            <label for="">Nombre del Producto</label>
                            <input type="text" value="<%= productToEdit.nombre %>" id="nombre" placeholder="Nombre del producto">
                        </div>
                        <div class="label-flex section-form">
                            <label for="">Precio del Producto</label>
                            <input type="number" name="precio"  value="<%= productToEdit.precio %>" id="precio" placeholder="Precio $">
                        </div>
                        <div class="label-flex file-form">
                            <label for="">Imagen/es del Producto</label>
                            <input type="file"  name="imagen"  id="imagen">
                        </div>
                        <div class="label-flex section-form">
                            <label for="">Descripción</label>
                            <textarea name="" id="" cols="30" rows="10" placeholder="Descripción del producto"></textarea>
                        </div>
                        <div class="label-flex section-form">
                            <label for="">Descuento</label>
                            <input type="number" name="descuento"  value="<%= productToEdit.descuento %>" id="descuento" placeholder="% Descuento">

                        </div>
                        <button class=" button large-button bg-green font-color-white " type="submit">Actualizar</button>
                    </form>
                </div>
            </div>
        </section>

    </main>
    <footer>
        <%-include("partials/footer")%>
    </footer>

</body>
</html>
