<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head', {title: 'Detalle de productos'}) %>
<link href="/css/productDetail.css" rel="stylesheet">

<body>

  <header>
    <%- include('partials/header') %>
  </header>

  <main>
    <section class="product-container">
      <div class="product-image">
        <img src = "/uploads/<%= producto.img %>" >
        <div id="divTopText" class="div-top-text"> <%= producto.name %> </div> 
        <div id="divTopText1" class="div-top-text1"> <%= producto.description %> </div>
      </div>

      <div class="carrousel-container">
        <div class="carrousel-image">
          <img src="/img/AC mockup.png" alt="img1" class="img-carrousel" width="20%"/>
          <img src="/img/AC mockup.png" alt="img2" class="img-carrousel" width="20%"/>
          <img src="/img/AC mockup.png" alt="img3" class="img-carrousel" width="20%"/>
        </div>
      </div>
    </section>

    <section class="container-title-form">
      <div class="product-title">
        <h2 class="product-name"><%= producto.name %></h2>
        <h3 class="product-price">$<%= producto.price %></h3>
      </div>

      <div class="product-form">
        <form method="POST">
          <div class="size-container">
            <button type="button" name="button-size" class="size-button" id="s">S</button>
            <button type="button" name="button-size" class="size-button" id="m">M</button>
            <button type="button" name="button-size" class="size-button" id="l">L</button>
            <button type="button" name="button-size" class="size-button" id="xl">XL</button>
          </div>

          <div class="file">
            <label for="cargar-archivo"></label>
            <input type="file" accept="image/*" class="up-file" name="img">
            
            <label for="top-text">Tu frase acá</label>
            <input type="text" id="topText" value=" "><label for="option">Elige la fuente</label>
            
            <select name="option" id="option">
              <option id= "arial" value="arial" style="font-family:Arial, Helvetica, sans-serif">ARIAL</option>
              <option id= "courier" value="courier" style="font-family: 'Courier New', Courier, monospace;">COURIER NEW</option>
              <option id= "cursive" value="cursive" style="font-family:'cursive'"> COMIC SANS </option>
              <option id= "impact" value="impact" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">IMPACT</option>
              <option id= "timesNewRoman" value="times-new-roman" style="font-family:'Times New Roman', Times, serif">Times New Roman</option>
            </select>

              <label for="color-text">Color del texto</label>
              <input type="color" id="color-text" value="#000000">
            
              <label for="font-size"> Tamaño del texto
              <input id="fontSize" type="number" value="30" min="10" max="45">
              </label>

              <label for="submit"></label>
              <button type="submit" class="submit">AGREGAR AL CARRITO</button>
            
          </div>
        </form>
      </div>
    </section>

  </main>

  <footer>
    <%-include("./partials/footer")%> 
  </footer>
  
  <script src="/scripts/productDetail.js"></script>

</body>

</html>