<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Register' }) %>
    <script src="/scripts/validacion.js"></script>
    <script src="/scripts/register.js"></script>

    <body>
        <header>
            <%- include('partials/header') %>
        </header>
        <section class="banner">
            <div class=" first-gap">

                <div class="container">
                    <h1 class="">
                        Registrate
                    </h1>
                </div>

        </section>

        <section class="margin-form-start">
            <div class="container">
                <section class="header">
                    <% if (typeof errors !=="undefined" ) { %>
                        <% errors.forEach(error=> { %>
                            <span style="color:red">
                                <li>
                                    <%= error.msg %>
                                </li>
                            </span>
                            <% }) %>
                                <% } %>
                </section>
                <div class="form-contact">
                    <form action="/user/register" method="POST" class="register" enctype='multipart/form-data'>
                        <div class="label-flex section-form">
                            <label for="user_name">Nombre y Apellido</label>
                            <input type="text" name="user_name" placeholder="Ingresa su nombre y apellido"
                                value="<%= locals.old && old.user_name%>" id="user_name">
                            <p class="error errores"></p>
                        </div>
                        <div class="label-flex section-form">
                            <label for="email">E-mail</label>
                            <input type="email" name="email" placeholder="Ingresa tu e-mail"
                                value="<%= locals.old && old.email%>" id="email">
                            <p class="emailE errores"></p>
                        </div>
                        <div class="label-flex section-form">
                            <label for="password">Contrase単a</label>
                            <div class="contenedero_ojo">
                                <input type="password" name="password" placeholder="Ingresa tu contrase単a" id="password"
                                    require minlength="8">
                                <i class="fa fa-eye-slash showpwd" onClick="showPwd('password', this)"> </i>
                            </div>
                            <p class="passwordE errores"></p>
                        </div>
                        <div class="label-flex section-form">
                            <label for="password1">Confirmar Contrase単a</label>
                            <div class="contenedero_ojo">
                                <input type="password" name="password1" id="password1"
                                    placeholder="Ingresa nuevamente tu contrase単a" id="password1" require minlength="8">
                                <i class="fa fa-eye-slash showpwd" onClick="showPwd('password1', this)"> </i>
                                <p class="passwordE1 errores"></p>
                            </div>
                        </div>
                        <div class="label-flex section-form">
                            <label for="img">Foto perfil usuario</label>
                            <input class="avatar" type="file" name="img" placeholder="Selecciona una imagen" id="img">
                        </div>
                        <button class=" button large-button bg-green font-color-white" type="submit">ENVIAR</button>
                    </form>

                </div>
            </div>
        </section>
        <%-include("./partials/footer")%>
    </body>

</html>