<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <%- include('partials/head', {title: 'Inicio' }) %>
        <link href="css/indexStyle.css" rel="stylesheet">
</head>

<body>

    <header>
        <%- include('partials/header') %>
    </header>
    <main>

        <section class="first-gap user-profile">
            <div class="container">
                <div class="flex user_info">
                    <div class="profile_pic_container">
                       x<img src= "../../public/img/uploads/userUploads/<%= locals.userLogged.img %>" >
                    </div>
                    <div>
                        <h3 class="profile_name"><%= locals.userLogged.name %></h3>
                        <h3 class="profile_last_name">Drago</h3>
                        <p class="profile_email"> <%= locals.userLogged.email %></p>
                    </div>
                </div>
            </div>
            <button class="button text-white bg-green button_position"><a href="#">Editar perfil</a></button>
        </section>

    </main>
    <%-include("partials/footer")%>



</body>

</html>