<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <%- include('partials/head', {title: 'Inicio'}) %>
    <link href="css/indexStyle.css" rel="stylesheet">
</head>

<body>
    
    <header>
        <%- include('partials/header') %>
    </header>

    <h1>
         hola <%= user.name %>
    </h1>
    <img src="/public/img/users/<%= user.img %>" >
    <div>
        <%= user.email %>
    </div>

<body>
    
</body>
</html>