<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <%- include('partials/head', {title: 'Inicio'}) %>
    <link href="css/indexStyle.css" rel="stylesheet">
</head>

<body>
    
    <header>
        <%- include('partials/header') %>
    
    
    </header>

    <h1 style="padding-top: 180px; color: black;">Hola Mundo</h1>
              
       
    <h3>
        hola <%= usuario.name %>
   </h3>
   <img src="/public/img/user/<%= usuario.img %>" >
   <div>
    <p> <%= usuario.email %></p>
   </div>       


    
</body>
</html>