<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <%- include('partials/head', {title: 'Inicio' }) %>
        <link href="css/indexStyle.css" rel="stylesheet">
</head>

<body>

    <header>
        <%- include('partials/header') %>
    </header>
    <main>

        <section class="first-gap user-profile">
            <div class="container">
                <div class="user_info">
                    <div class="profile_pic_container">
                       <img class="img_profile" src= "/uploads/userUploads/<%= locals.userLogged.img %>" >
                    </div>
                    <div>
                        <h3 class="profile_name"><%= locals.userLogged.name %></h3>
                        <p class="profile_email"> <%= locals.userLogged.email %></p>
                    </div>
                </div>
            </div>
            <a class="text-green  button_position" href="/user/<%= locals.userLogged.user_id%>/edit">Editar perfil</a>
        </section>

    </main>
    <%-include("partials/footer")%>



</body>

</html>